<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD To-Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="mode-container">
        <span onclick="toggleMode('dark')" class="dark mode"></span>
        <span onclick="toggleMode('light')" class="white mode"></span>
    </div>

    <div>
        <h1 id="animated-headig">Let's Do It!</h1>
    </div>

    <form class="post-form" action="/post" method="POST">
        <input class="new-task" type="text" name="task" placeholder="Add a task">
        <button class="add-button" type="submit">Go Get It</button>
    </form>


    <div class="items-container">
        <ul class="item">
            <% items.forEach(item=> { %>
                <div class="item-box">
                    <button onclick="strikeThroughText(this)" class="check btn"><img src="/images/Check-Circle.svg"
                            alt="Check done"></button>
                    <form action="/post/edit"></form>
                    <li>
                        <span class="task-text">
                            <%= item.task %>
                        </span>
                        <input class="edit-input" value="<%= item.task %>" type="text">

                    </li>
                    <button onclick="enableEdit(this)" class="edit btn"><img src="/images/edit.svg" alt="Edit"></button>
                    <form class="delete-form" action="/post/<%= item.id %>" method="post">
                        <button type="submit" class="delete btn"><img src="/images/delete.svg" alt="Delete"></button>
                    </form>
                </div>
                <% }); %>
        </ul>
    </div>


    <script>
        function strikeThroughText(button) {
            const listItem = button.parentElement.querySelector("li");

            if (listItem.style.textDecoration === "line-through") {
                listItem.style.textDecoration = "none";
                listItem.classList.remove("dim-text")
            } else {
                listItem.style.textDecoration = "line-through";
                listItem.classList.add("dim-text")
            }
        };

        function enableEdit(editButton) {
            const listItem = editButton.parentElement;
            const taskText = listItem.querySelector(".task-text");
            const editInput = listItem.querySelector(".edit-input");

            taskText.style.display = "none";
            editInput.style.display = "flex";
            editInput.focus();

            editInput.addEventListener("keydown", (event) => {
                if (event.key === "Enter") {
                    saveEdit(listItem)
                };
            });

            editInput.addEventListener("blur", () => {
                saveEdit(listItem);
            });
        };

        function saveEdit(listItem) {
            const taskText = listItem.querySelector(".task-text");
            const editInput = listItem.querySelector(".edit-input");

            taskText.textContent = editInput.value;
            taskText.style.display = "inline";
            editInput.style.display = "none";
        };

        function toggleMode(mode) {
            const body = document.body;
            const heading = document.querySelector("h1");
            const inputTaskField = document.querySelector(".new-task");


            if (mode === "dark") {
                body.classList.add("dark-mode");
                body.classList.remove("light-mode");

                heading.classList.add("white-heading");
                heading.classList.remove("dark-heading");

                inputTaskField.classList.add("dark-item");
                inputTaskField.classList.remove("light-item");
            } else {
                body.classList.add("light-mode");
                body.classList.remove("dark-mode");

                heading.classList.add("dark-heading");
                heading.classList.remove("white-heading");

                inputTaskField.classList.add("light-item");
                inputTaskField.classList.remove("dark-item");
            }
        }

        window.onload = function () {
            const heading = document.getElementById('animated-heading');
            heading.classList.add('animate');
        }
    </script>

</body>

</html>